@using ArfitectBlog.Entities.Dtos
@model ArfitectBlog.Mvc.Models.PostDetailViewModel
@{
    Layout = "_PostLayout";
    ViewBag.Title = Model.PostDto.Post.Title;
    ViewBag.Description = Model.PostDto.Post.SeoDescription;
    ViewBag.Author = Model.PostDto.Post.SeoAuthor;
    ViewBag.Tags = Model.PostDto.Post.SeoTags;
}



<!-- Post Content Column -->


<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">@Model.PostDto.Post.Title</h1>

    <!-- Author -->
    <p class="lead"> 
        @Model.PostDto.Post.User.UserName tarafından @Model.PostDto.Post.Date.ToShortDateString() tarihinde paylaşılmıştır.
    </p>

    <hr>

    <div class="text-center">
        <img class="img-fluid rounded" src="~/img/@Model.PostDto.Post.Thumbnail" alt="@Model.PostDto.Post.Title">
    </div>
    <hr>

    <!-- Post Content -->
    @Html.Raw(Model.PostDto.Post.Content)

    <hr>

    <p class="text-center"><span class="badge badge-info">Okunma Sayısı: @Model.PostDto.Post.ViewCount</span> Yorum Sayısı: <span class="badge badge-warning"> @Model.PostDto.Post.CommentCount</span></p>

    <!-- Comments Form -->
    <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{PostId= Model.PostDto.Post.Id}" />


    <div id="comments">
        @foreach (var comment in Model.PostDto.Post.Comments)
        {

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="https://randomuser.me/api/portraits/men/34.jpg" alt="">
                <div class="media-body">
                    <h5 class="mt-0">@comment.CreatedByName</h5>
                    @comment.Text
                </div>
            </div>
        }
    </div>
</div>
<partial name="_PostDetailRightSideBarPartial" model="@Model.PostDetailRightSideBarViewModel"/>
@section Scripts {
    <script src="~/BlogHome/js/postDetail.js" type="text/ecmascript"></script>

}
